.btn {
  background-color: transparent;
  background-size: 100%;
  padding: 0.4375rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  transition: all 0.3s ease-in;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active {
    background: linear-gradient(to right, #00db9e, #069999);
    background-position: 100%;
    border-image: linear-gradient(to right, #00db9e, #069999);
    border: 1px solid #00db9e;
    transition: all 0.3s ease-in;
  }
}
