.section {
  padding: $section-padding;

  color: #ffffff;

  &::after {
    content: " ";

    display: table;
    clear: both;
  }

  &__header {
    width: 50%;
    margin-bottom: 40px;

    line-height: 1.2;

    &--centered {
      text-align: center;
    }

    h2 {
      margin: 0;
      margin-top: 60px;
      padding: 0;

      font-weight: bold;
      font-size: 5rem;
      text-transform: uppercase;
    }

    h3 {
      margin: 0;
      margin-top: 60px;
      padding: 0;

      font-weight: bold;
      font-size: 4.8rem;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      padding: 0;

      font-weight: 400;
      font-size: 2.5rem;
      color: $secondary-color;
    }
  }

  &__text {
    width: 50%;
    margin-bottom: 60px;

    p {
      margin: 0;
      padding: 0;

      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.2;
      font-family: "Open Sans", Arial, sans-serif;
      text-align: left;
    }

    &--large {
      width: 80%;

      p {
        font-weight: bold;
        font-size: 3.6rem;
        font-family: Lato, Arial, sans-serif;
      }
    }

    &--centered {
      p {
        text-align: center;
      }
    }
  }

  &__buttons {
    float: right;

    a {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    img {
      width: 200px;

      border-radius: 5px;
    }

    p {
      margin: 0;
      padding: 0;

      font-weight: 300;
      font-size: 0.875rem;
      font-family: "Open Sans", Arial, sans-serif;
      font-style: italic;
    }

    &--centered {
      float: none;
      width: 50%;

      text-align: center;

      a {
        display: block;
        margin: 0;
      }
    }
  }
}

.device {
  position: fixed;
  right: 10%;
  bottom: 0;
  z-index: 2;

  width: 27vmax;
  max-width: 450px;
  overflow: hidden;

  transform: translateY(100%);

  transition: all 0.7s ease-in;

  pointer-events: none;

  &--visible {
    transform: translateY(18%);
  }

  &--full-visible {
    transform: translateY(4%);
  }

  &__frame {
    position: relative;

    width: 100%;
  }

  &__slides {
    position: absolute;
    top: 15%;
    left: 19%;

    display: flex;
    flex-direction: row;
    width: 63%;
    overflow: hidden;

    transition: all 0.3s ease-in;
  }

  &__slide {
    width: 100%;
    min-width: 100%;
    height: 100%;

    transition: all 0.3s ease-in;
  }
}

.first-screen {
  color: #ffffff;

  background: url("../img/bgFlat.jpg") no-repeat 50%/cover;
}

.second-screen {
  background:
  url("../img/img_historias.png") 657px 0/43% no-repeat,
  url("../img/bow1.svg") 0 80px/116% no-repeat $secondary-color;
}

.third-screen {
  background:
  url("../img/bow2.svg")  545px 125px/91% no-repeat,
  url("../img/img_tests.png")  650px 55px/37% no-repeat,
  url("../img/bg.jpg")  no-repeat center center / cover;
}

.fourth-screen {
  background:
  url("../img/img_autografos.png") 650px 0/35% no-repeat,
  url("../img/bow3.svg")  -25px 400px/105% no-repeat $secondary-color;
}

.fifth-screen {
  background: url("../img/bg.jpg")  no-repeat center center / cover;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;

  width: 100%;
  padding: $section-padding;

  font-weight: 400;
  font-size: 1rem;

  background-color: $primary-color;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }

  a {
    color: $secondary-color;
    text-decoration: underline;
  }
}

// ********* MEDIA ************

@media screen and (max-width: 1024px) {
  .device {
    right: 1%;

    width: 35vmax;

    &__slides {
      left: 18%;
    }

    &--full-visible {
      transform: translateY(1%);
    }
  }

  // .first-screen {
  //   color: #ffffff;
  //
  //   background:
  //   url("../img/bg1stscreen.png") no-repeat 50px  30% / cover,
  //   url("../img/bg.jpg")  no-repeat center center / cover,
  //   linear-gradient(45deg, $primary-color, $primary-color);
  // }

  .second-screen {
    background:
    url("../img/img_historias.png") 480px 0/55% no-repeat,
    url("../img/bow1.svg") 0 280px/116% no-repeat $secondary-color;
  }

  .third-screen {
    background:
    url("../img/bow2.svg")  375px 150%/95% no-repeat,
    url("../img/img_tests.png")  480px 20%/45% no-repeat,
    url("../img/bg.jpg")  no-repeat center center / cover;
  }

  .fourth-screen {
    background:
    url("../img/img_autografos.png") 480px 0/45% no-repeat,
    url("../img/bow3.svg")  -25px 400px/105% no-repeat $secondary-color;
  }

  .section {
    &__header {
      h3 {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 980px) {
  // .first-screen {
  //   background:
  //   url("../img/bg1stscreen.png") no-repeat 150px  30% / cover,
  //   url("../img/bg.jpg")  no-repeat center center / cover,
  //   linear-gradient(45deg, $primary-color, $primary-color);
  //   color: #ffffff;
  // }
  .section {
    &__header {
      h2 {
        font-size: 4rem;
      }

      h3 {
        font-size: 3.8rem;
      }
    }

    &__text {
      &--large {
        p {
          font-size: 3.5rem;
        }
      }
    }
  }

  .device {
    width: 43vmin;
  }
}

@media screen and (max-width: 800px) {
  // .first-screen {
  //   color: #ffffff;
  //   background:
  //   url("../img/bg1stscreen.png") no-repeat -70px  30% / cover,
  //   url("../img/bg.jpg")  no-repeat center center / cover,
  //   linear-gradient(45deg, $primary-color, $primary-color);
  // }

  .second-screen {
    background:
    url("../img/img_historias.png") 335px 32px/60% no-repeat,
    url("../img/bow1.svg") 0 280px/116% no-repeat $secondary-color;
  }

  .third-screen {
    background:
    url("../img/bow2.svg") 120px 123%/99% no-repeat,
    url("../img/img_tests.png")  335px 20%/50% no-repeat,
    url("../img/bg.jpg")  no-repeat center center / cover;
  }

  .fourth-screen {
    background:
    url("../img/img_autografos.png") 335px 0/55% no-repeat,
    url("../img/bow3.svg")  -25px 105%/105% no-repeat $secondary-color;
  }

  .device {
    width: 55vw;
  }

  .section {
    &__header {
      h3 {
        font-size: 3rem;
      }
    }

    &__text {
      &--large {
        p {
          font-size: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    &:not(:first-child) {
      .fp-tableCell {
        display: block;
        padding-top: 40px;
      }
    }

    &__header {
      width: 85%;

      &--centered {
        width: 50%;
      }
    }

    &__text {
      width: 85%;

      &--large {
        width: 85%;
      }

      &--centered {
        width: 50%;
      }
    }
  }

  .second-screen {
    background:
    url("../img/img_historias.png") 50% 50%/70vw no-repeat,
    url("../img/bow1.svg") 0 120%/116% no-repeat $secondary-color;
  }

  .third-screen {
    background:
    url("../img/bow2.svg") 120px 123%/99% no-repeat,
    url("../img/img_tests.png") 50% 50%/70vw no-repeat,
    url("../img/bg.jpg") center center/cover no-repeat;
  }

  .fourth-screen {
    background:
    url("../img/img_autografos.png") 50% 90%/65vw no-repeat,
    url("../img/bow3.svg")  -25px 105%/105% no-repeat $secondary-color;
  }

  .device {
    &--full-visible {
      transform: translateY(-18%);
    }
  }
}

@media screen and (max-width: 680px) {
  .section {
    &:not(:first-child) {
      .fp-tableCell {
        padding-top: 10px;
      }
    }

    &:last-child {
      .fp-tableCell {
        padding-top: 0;
      }
    }

    &__header {
      width: 60%;

      h2 {
        font-size: 1.25rem;
      }

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 2rem;
      }

      &--centered {
        margin-bottom: 20px;

        text-align: left;
      }
    }

    &__text {
      width: 50%;

      p {
        font-size: 0.875rem;
      }

      &--centered {
        width: 100%;
        margin-bottom: 20px;

        p {
          text-align: left;
        }
      }
    }

    &__buttons {
      float: none;


      &--centered {
        width: 100%;

        text-align: left;
      }

      a {
        display: inline-block;
      }

      img {
        width: 150px;
      }

      p {
        font-size: 0.75rem;
      }
    }
  }


  .mobile-menu {
    .logo {
      h1 {
        font-size: 1.5rem;
      }
    }

    &__list {
      margin: 0;

      li {
        margin: 10px 0;
      }

      a {
        font-size: 0.75rem;
      }
    }

    &__buttons {
      flex-direction: row;

      .btn {
        margin: 0;

        font-size: 0.75rem;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .copyright {
    font-size: 0.75rem;
  }

  .device {
    width: 55vh;

    &--full-visible {
      transform: translateY(100%);
    }
  }

  .second-screen {
    background:
    url("../img/img_historias.png") 80% 30%/70vmin no-repeat,
    url("../img/bow1.svg") 0 45vh/102% no-repeat $secondary-color;
  }

  .third-screen {
    background:
    url("../img/bow2.svg") 120px 123%/85% no-repeat,
    url("../img/img_tests.png") 80% 20%/70vmin no-repeat,
    url("../img/bg.jpg") center center/cover no-repeat;
  }


  .fourth-screen {
    background:
    url("../img/img_autografos.png") 85% 20%/65vmin no-repeat,
    url("../img/bow3.svg")  -25px 105%/105% no-repeat $secondary-color;

    .section__text {
      width: 60%;
    }
  }
}


@media screen and (max-width: 460px) {
  .first-screen {
    background: url("../img/bgFlat.jpg") 60% 50%/cover no-repeat;
  }

  .second-screen {
    background:
    url("../img/img_historias.png") 20% 90%/90% no-repeat,
    url("../img/bow1.svg") 0 350px/116% no-repeat $secondary-color;
  }

  .third-screen {
    background:
    url("../img/bow2.svg") 50px 115%/99% no-repeat,
    url("../img/img_tests.png")  24px 80%/85% no-repeat,
    url("../img/bg.jpg")  no-repeat center center / cover;
  }

  .fourth-screen {
    background:
    url("../img/img_autografos.png") -5px 211px/85% no-repeat,
    url("../img/bow3.svg")  -25px 105%/105% no-repeat $secondary-color;

    .section__text {
      width: 100%;
    }
  }

  .section {
    &__header {
      width: 90%;
      margin-bottom: 20px;

      h2 {
        margin: 0;

        font-size: 2rem;
      }

      h3 {
        margin-top: 0;

        font-size: 1.6rem;
      }

      p {
        font-size: 0.7rem;
      }
    }

    &__text {
      width: 100%;

      p {
        font-size: 0.9rem;
      }

      &--centered {
        margin-bottom: 20px;
      }

      &--large {
        p {
          font-size: 1.5rem;
        }
      }
    }

    &__buttons {
      text-align: center;

      img {
        width: 160px;
      }
    }

    &:not(:first-child) {
      .fp-tableCell {
        padding-top: 25px;
      }
    }
  }

  .mobile-menu {
    justify-content: space-around;
  }

  .device {
    width: 63vw;

    &--visible {
      transform: translateY(35%);
    }

    &--full-visible {
      transform: translateY(100%);
    }
  }


  #fp-nav.left {
    left: 0;
  }

  .copyright {
    font-size: 0.8rem;

    &__wrap {
      flex-direction: column;
    }

    &__terms {
      margin: 5px 0;
    }
  }
}
