.section {
  padding: $section-padding;
  color: #ffffff;

  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  &__header {
    line-height: 1.2;
    margin-bottom: 50px;
    width: 60%;

    h2 {
      font-size: 5.1875rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      margin-top: 60px;
    }

    h3 {
      font-size: 5rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      margin-top: 60px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
      color: $secondary-color;
      font-weight: 400;
    }
  }

  &__text {
    margin-bottom: 80px;
    width: 60%;

    p {
      margin: 0;
      padding: 0;
      font-size: 1.125rem;
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 300;
      line-height: 1.2;
      text-align: left;
    }

    &--large {
      p {
        font-size: 4.0625rem;
        font-family: Lato, Arial, sans-serif;
        font-weight: bold;
      }
    }
  }

  &__buttons {
    float: right;

    a {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    img {
      width: 200px;
      border-radius: 5px;
    }

    p {
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 0.875rem;
    }
  }
}

.device {
  position: fixed;
  bottom: -100%;
  right: 10%;
  z-index: 2;
  transition: all 0.7s ease-in;
  overflow: hidden;

  &--visible {
    bottom: -10%;
  }

  &__frame {
    position: relative;
  }

  &__slides {
    position: absolute;
    width: 300%;
    overflow: hidden;
    top: 76px;
    left: 20px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in;
  }

  &__slide {
    transition: all 0.3s ease-in;
  }

}

.first-screen {
  background:
  url("../img/bg1stscreen.png") no-repeat 350px  30% / cover,
  url("../img/bg.jpg")  no-repeat center center / cover,
  linear-gradient(45deg, $primary-color, $primary-color);
  color: #ffffff;
}

.second-screen {
  background: url("../img/bow1.svg") no-repeat -50% -25%;
  background-size: 116%;
  background-color: $secondary-color;
}


@media screen and (max-width: 980px) {
  .first-screen {
    background:
    url("../img/bg1stscreen.png") no-repeat 150px  30% / cover,
    url("../img/bg.jpg")  no-repeat center center / cover,
    linear-gradient(45deg, $primary-color, $primary-color);
    color: #ffffff;
  }
}

@media screen and (max-width: 800px) {
  .first-screen {
    background:
    url("../img/bg1stscreen.png") no-repeat -70px  30% / cover,
    url("../img/bg.jpg")  no-repeat center center / cover,
    linear-gradient(45deg, $primary-color, $primary-color);
    color: #ffffff;
  }
}
